# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Datenbank
*.db
*.sqlite
*.sqlite3

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store
